[req]
prompt = no
distinguished_name = dn
req_extensions = ext

[dn]
C = RU
SN = Сафонов
GN = Тихон
CN = Сафонов Тихон Ерофеевич
emailAddress = User837@pochtochka.com

[ext]
subjectAltName = DNS:example.com,DNS:*.example.com